[submodule "Mpv.NET-lib-"]
	path = Mpv.NET-lib-
	url = git@github.com:WangyuHello/Mpv.NET-lib-.git
[submodule "NeteaseCloudMusicApi"]
	path = NeteaseCloudMusicApi
	url = git@github.com:WangyuHello/NeteaseCloudMusicApi.git
[submodule "WindowsCompositionSamples"]
	path = WindowsCompositionSamples
	url = git@github.com:WangyuHello/WindowsCompositionSamples.git
[submodule "Bili.Uwp"]
	path = Bili.Uwp
	url = git@github.com:WangyuHello/Bili.Uwp.git
